<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591216986594-k7vd0ma8u071n4bafkgn8cco0p02j4jf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591216986594-k7vd0ma8u071n4bafkgn8cco0p02j4jf</string>
	<key>API_KEY</key>
	<string>AIzaSyDW5h4JOEKPM1YYJHGRVsZWSSS0vkGUNjc</string>
	<key>GCM_SENDER_ID</key>
	<string>591216986594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ching.DummyApp</string>
	<key>PROJECT_ID</key>
	<string>dummyapp-87051</string>
	<key>STORAGE_BUCKET</key>
	<string>dummyapp-87051.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591216986594:ios:68bf77824089e8b1</string>
	<key>DATABASE_URL</key>
	<string>https://dummyapp-87051.firebaseio.com</string>
</dict>
</plist>